# Chain's internal ID on which deployments / interactions will happen
CHAIN_NAME=""

# Curvy Deployer Account
#   Note: Deployer becomes the initial Administrator
DEPLOYER_PK=""
DEPLOYER_ADDR=""

# Curvy Operator Account
OPERATOR_PK=""
OPERATOR_ADDR=""

# Example of a Curvy User's CSA information
USER_PK=""
USER_ADDR=""

# RPC URL of the chain used to make calls / transactions
RPC_URL="https://eth-sepolia.g.alchemy.com/v2/<API_KEY>"

# Etherscan.io API Key used to verify the deployed contracts
ETHERSCAN_API_KEY=""