CHAIN_NAME="localnet"

# Curvy Deployer Account
#   Note: Deployer becomes the initial Administrator
DEPLOYER_PK="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
DEPLOYER_ADDR="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"

# Curvy Operator Account
OPERATOR_PK="0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d"
OPERATOR_ADDR="0x70997970C51812dc3A010C7d01b50e0d17dc79C8"

# Curvy Users with non-zero ETH balances, and ERC20 zero balances
USER_1_CSA_1_ADDR=""
USER_2_CSA_1_ADDR=""
USER_3_CSA_1_ADDR=""

# Curvy Users with zero ETH balances and ERC20 non-zero balances
USER_1_CSA_2_ADDR=""
USER_2_CSA_2_ADDR=""
USER_3_CSA_2_ADDR=""

# Curvy Users with non-zero ETH balances and non-zero ERC20 balances
USER_1_CSA_3_ADDR=""
USER_2_CSA_3_ADDR=""
USER_3_CSA_3_ADDR=""

# RPC URL of the chain used to make calls / transactions
RPC_URL="http://127.0.0.1:8545"

# Etherscan.io API Key used to verify the deployed contracts
ETHERSCAN_API_KEY="xx1"