node_modules/
package-lock.json
pnpm-lock.yaml

# Compiler files
artifacts/
cache/
cache_hardhat/
out/
generated/

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
lib/openzeppelin-contracts-upgradeable/


# Dotenv file
.env
.env.tmp
.wake
.vscode
snapshots
lib

# Localnet addresses
deployments/localnet

# Artifacts from .ts
sdk/**/**/*.js